body {
  background-color: #e4f0f5;
}


thead,
tfoot {
  background-color: #3f87a6;
  color: #fff;
}

tbody {
  background-color: #e4f0f5;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  border: 0px solid rgb(5, 5, 5);
  #border: 0px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

td {
  border: 0px;
  text-align: center;
}

.btable td {
  border: 1px solid rgb(25,53, 65);
  border-color: #3f87a6;
  text-align: center;
}
th {
  border: 1px solid rgb(255,253,245);
  border-color: #3f87a6;
  padding: 5px 10px;
  text-align: center;
}

h1 {
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 1.8rem;
}

.inter {
  font-size: 1px;
}

.hoverTable{
	width:100%; 
	border-collapse:collapse; 
}
.hoverTable td{ 
	padding:7px; border:#3f87a6 1px solid;
	#padding:7px; border:#4e95f4 1px solid;
}
	/* Define the default color for all the table rows */
.hoverTable tr{
	/* background: #b8d1f3;*/
	background: #e4f0f5;
}
.hoverTable th {
  border: 1px solid rgb(25, 53, 65);
  border-color: #3f87a6;
  padding: 5px 10px;
  background-color: #3f87a6;
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
	background-color: #ffff99;
}


